@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

html,
body {
  
  background-color: var(--background);
  color: var(--foreground);
}

.input {
  width: 100%;
  border-radius: 0.75rem;
  border: 2px solid #94a3b8;
  background-color: white;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #111827;
}

.input:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.3);
}

.btn-primary {
  width: 100%;
  border-radius: 0.75rem;
  background-color: #4f46e5;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.btn-primary:hover {
  background-color: #4338ca;
}

.error {
  font-size: 0.875rem;
  color: #ef4444;
  margin-top: 0.25rem;
}
